:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #000000;
  text-transform: capitalize;
}

.logo > span {
  color: var(--primary-color);
}

/* Site navigation */
.site-nav-link {
  --site-nav-link-color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--site-nav-link-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--primary-color);
}

.site-nav-link.current {
  color: var(--primary-color);
}

/* Contacts navigation */
.contacts-nav .contacts-nav-email,
.contacts-nav .contacts-nav-phone {
  color: inherit;
}
.contacts-nav .contacts-nav-email:hover,
.contacts-nav .contacts-nav-email:focus,
.contacts-nav .contacts-nav-phone:focus,
.contacts-nav .contacts-nav-phone:hover {
  color: var(--primary-color);
}
